
.contact-wrap {
    border-radius: 20px 0px 0px 20px;
}

.info-wrap {

    background-color: white;
    border-radius: 0px 20px 20px 0px;

}

.col-md-6 h2 {
    font-size: 80px;
    color: white;
    font-family: Red Hat Text;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 9px;
}




@media(max-width:978px) {


    .tarjet h2 {
        font-size: 60px !important;
    }


    .contact-wrap {
        border-radius: 20px 20px 0px 0px;
    }
    
    .info-wrap {
    
        background-color: white;
        border-radius: 0px 0px 20px 20px;
    
    }
    

}



