
.container-fluid {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.container-objets-nav {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0px;
    height: 50px;
    width: 100%;
}

.container-objets-nav a{
    position: relative;
    left: 0px;
    
}




.contain-flags {
    cursor: pointer;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

.contain-flags img {
    height: 27px;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 0px;
    font-size: 17px;
    margin-top: 0px;
    font-weight: 500;
}


#home  {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}


@media (max-width:978px) {

    
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.container-objets-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    height: 100px;
    width: 350px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 7px;
    font-size: 18px;
    margin-top: 3px;
    font-weight: 600;
}
.contain-flags {
    position: relative;
    cursor: pointer;
    display: flex;
    margin-left: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#idioma, #practica, #contacto {
    display: none;
}
.contain-flags img {
    height: 30px;
}




}