.container-header {
    display: flex;
    justify-content: center;
    height: 100px;
}

.contain-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contain-options a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 17px;
}





.contain-flags {
    display: flex;
    height: 100px;
    position: absolute;
    margin-left: 90%;
    align-items: center;
    gap: 30px;
}

.contain-flags img {
    height: 37px;
}